<div class="row my-4">
    <div class="col-md-12">
        <h4>Add Post</h4>
        <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
            <div class="mb-3">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title" />
                <div *ngIf="postForm.get('title')?.touched && !postForm.get('title')?.valid">
                    <div *ngIf="postForm.get('title')?.errors?.['required']">
                        Title is required
                    </div>
                    <div *ngIf="postForm.get('title')?.errors?.['minlength']">
                        Title should be min 6 letter is required
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="postForm.get('title')?.touched && postForm.get('title')?.invalid" class="text-danger">
                Title is required
            </div> -->
            <div class="mb-3">
                <label>Description</label>
                <textarea class="form-control" formControlName="Description"></textarea>
                <!-- <div *ngIf="postForm.get('Description')?.touched && postForm.get('Description')?.invalid" class="text-danger">
                </div> -->
                <div>{{ showDescriptionError()}}</div>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Add Post</button>
            </div>
        </form>
    </div>
</div>